{% extends '_base.html' %}
{% load static %}

{% block title %}Booking List{% endblock title %}

{% block content %}
  <h1>Booking List</h1>
    {% for booking in Bookings %}
    <div>
      <a href="{% url 'booking_detail' booking.pk %}"><h2>{{ booking }}</h2></a>
      <a href="{% url 'booking_update' booking.pk %}">Edit</a> | 
      <a href="{% url 'booking_delete' booking.pk %}">Delete</a>
    </div>
    {% endfor %}
  </ul>
  <br>
  <ul>
    <li><a href="{% url 'add_booking' %}">Add a Booking</a></li>
    <li><a href="{% url 'dashboard' %}">Back to Dashboard</a></li>
  </ul>
{% endblock content %}

 